{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for recipe collections block.
 */
#}
{% block content %}
  {{ attach_library('demotheme/recipe-collections') }}
  <div class="container">
    {{ parent() }}
  </div>
{% endblock %}
