<{{ html_tag|default('article') }}{{ attributes.addClass('demotheme-card') }}>
  <div class="demotheme-card__wrapper">
    {% block content %}{% endblock %}
  </div>
</{{ html_tag|default('article') }}>
